/*****************CSS Reset*****************/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2f89fc;
    --secondary-color: #115ec2;
    --tertiary-color: #fff;
    --quadratic-color: #000;
    --fifth-color: rgb(51, 51, 51);


}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "Header"
                         "Main"
                         "Footer";
}

/* Header */
.header {
    grid-area: Header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fifth-color);
}

/* Logo */
.logo {
    display: flex;
    text-decoration: none;
}

.logo__image {
    height: 50px;
}

.logo__text {
    font-size: 50px;
    font-weight: bolder;
    color: var(--primary-color);
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.menu__items {
    list-style: none;
}

.menu__links {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 7%;
    transition: 0.8s;
}

.menu__links--color-black {
    color: var(--quadratic-color);
}

.menu__links:hover {
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: 0 0 6px 3px var(--primary-color);
}

.main {
    grid-area: Main;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "TopLeft Middle TopRight"
                         "BottomLeft Middle BottomRight";
}

/* Main */
/* Loader */
.loader__text {
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0px 0px 3px var(--tertiary-color);
}
.loader {
    grid-area: TopLeft;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loader__animation {
    box-sizing: border-box;
    width:160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top: 8px dotted var(--tertiary-color);
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    cursor:progress;
}

@keyframes loader {
    from {
        transform: rotate(0);
        opacity: 1;
    }

    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

/* Flip card */
.flip-card {
    grid-area: Middle;
    background-color: gold;

}

.flip-card__title {
    padding: 20px 0;
    color: var(--tertiary-color);
    text-shadow: 10px 10px 10px var(--quadratic-color);
    text-align: center;
    font-size: 30px;
}

.flip-card__container {
    width: 300px;
    height: 350px;
    margin: 0px auto;
    perspective: 1000px;
}

.flip-card__parent {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 3s;
    transform-style: preserve-3d;
}

.flip-card__card {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--tertiary-color);
    font-family: sans-serif;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card__card--front {
    background: url(../Images/Back-card.png) no-repeat center center / contain;
}

.flip-card__card--back {
    background: url(../Images/Ace.png) no-repeat center center / contain;
    transform: rotateY(180deg);
    text-align: center;
    transform-style: preserve-3d;
}

.flip-card__container:hover .flip-card__parent {
    transform: rotateY(180deg);
}

/* Search Form */
.form {
    grid-area: TopRight;
    background-color: rebeccapurple;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form__title {
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0.8rem 0;
    color: var(--tertiary-color);
}

.form__items {
    width: 80%;
    padding: 12px;
    margin-bottom: 1rem;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid var(--secondary-color);
    color: var(--tertiary-color);
    background-color: var(--tertiary-color);
}

.form__items:focus {
    outline: none;
}

.form__items::placeholder {
    color: var(--tertiary-color);
}

.form__items--text-input {
    word-spacing: 2px;
}

.form__items--range {
    width: 80%;
}

.form__range-output {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: var(--tertiary-color);
}

.form__range-output::before {
    content: 'Year: ';
}

.form__button {
    padding: 10px 25px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    transition: 0.5s;
}

.form__button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Video */
.video {
    background-color: var(--quadratic-color);
}

.video__text {
    color: var(--tertiary-color);
    font-size: 17px;
    padding: 20px 0;
    text-align: center;
}

/* Article */
.article {
    grid-area: BottomRight;
    background-color: #34a853;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__container {
    display: flex;
    height: 75%;
    width: 90% ;
    background-color: rgba(119, 136, 153, 0.7);
}

.article__image-link {
    height: 100%;
    width: 40%;
    overflow: hidden;
}

.article__image {
    height: 100%;
    width: 100%;
    background: url("./../Images/BEM.webp") no-repeat center center / cover ;
    scale: 1;
    transition: 1.8s;
}

.article__image:hover {
    scale: 3;
}

.article__content {
    width: 60%;
    text-align: center;
    padding: 20px;
}

.article__title {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 27px;
    font-weight: 700;
    transition: 0.8s;
}

.article__title:hover {
    color: var(--secondary-color);
}

.article__text {
    color: var(--fifth-color);
    font-size: 15px;
    padding: 15px 0;
    text-align: justify;
}

.article__button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-decoration: none;
    border-radius: 10%;
    transition: 0.8s;
}

.article__button:hover {
    background-color: var(--secondary-color);
}

/* Footer */
.footer {
    grid-area: Footer;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: space-around;
    align-items:center;
}

/* Social Networks */
.footer__socical-networks {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 30px;
}

.footer__footer-text {
    color: var(--tertiary-color);
    font-size: 18px;
}

.footer__social-icons {
    font-size: 22px;
    color: var(--tertiary-color);
    transition: 0.8s;
}

.footer__social-icons:hover {
    color: var(--primary-color);
}

/* Newsletter */
.footer__newsletter {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 30px;
}

.footer__separator-line {
    height: 20px;
    border-left: 1px solid var(--tertiary-color);
    padding-right: 50px;
}

.footer__newsletter-input {
    display: inline-block;
    width: 300px;
    padding: 0 0px;
    background: none;
    border: none;
    color: var(--tertiary-color);
    font-size: 18px;
    border-bottom: 1px solid var(--tertiary-color);
    height: 30px;
}

.footer__newsletter-input::placeholder {
    color: var(--tertiary-color);
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.footer__newsletter-input:focus {
    outline: none;
}

.footer__newsletter-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.footer__newsletter-button:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/* Responsive Design */
/* Mobile and Tablet responsive design */
@media (min-width: 320px) and (max-width: 768px) {
    .container {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 10fr 1fr;
        grid-template-areas: "Header"
                             "Main"
                             "Footer";
    }

    .header {
        height: 120px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "Logo"
                             "Menu"
    }

    .logo {
        grid-area: Logo;
        margin: 0 auto;
    }

    .menu {
        grid-area: Menu;
        margin: 0  auto;
        gap: 5px;
    }

    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.8fr 1fr 1fr 1.4fr;
        grid-template-areas: "Loader"
                             "Flip-card"
                             "Form"
                             "Video"
                             "Article"
    }

    .loader {
        grid-area: Loader;
    }

    .flip-card {
        grid-area: Flip-card;
    }

    .form {
        grid-area: Form;
    }

    .video {
        grid-area: Video;
    }

    .article {
        grid-area: Article;
    }

    .article__container {
        flex-direction: column;
        height: 90%;
    }

    .article__image-link {
        height: 40%;
        width: 100%;
    }

    .article__image:hover {
        scale: 1.5;
    }

    .article__content {
        width: 100%;
    }

    .article__text {
        padding-bottom: 25px;
    }


    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "Social-networks"
                             "Newsletter"
    }

    .footer__socical-networks {
        grid-area: Social-networks;
        margin: 0 auto;
    }

    .footer__newsletter {
        grid-area: Newsletter;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer__separator-line {
        display: none;
    }

    .footer__newsletter-input {
        width: 250px;
    }
}

/* Laptop and Desktop responsive */
@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 10fr 1fr;
        grid-template-areas: "Header"
                             "Main"
                             "Footer";
    }

    .main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.7fr 0.7fr 0.7fr 0.8fr;
        grid-template-areas: "Loader Flip-card"
                             "Video Flip-card"
                             "Form Form"
                             "Article Article"
    }

    .loader {
        grid-area: Loader;
    }

    .flip-card {
        grid-area: Flip-card;
    }

    .form {
        grid-area: Form;
    }

    .video {
        grid-area: Video;
    }

    .article {
        grid-area: Article;
    }

    .article__text {
        padding-bottom: 40px;
    }


    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "Social-networks"
                             "Newsletter"
    }

    .footer__socical-networks {
        grid-area: Social-networks;
        margin: 0 auto;
    }

    .footer__newsletter {
        grid-area: Newsletter;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer__separator-line {
        display: none;
    }
}


